
.footer-main{
padding-top:2em;

}

.footer_menu li{
display: inline;
margin-left: 5px;


}

.footer_menu {
display:inline-block;
margin: 0 2em;

}

.footer address{

	padding:0;
	margin: 0;
}








