<?xml version="1.0"?>
<config>
	<modules>
    	<Bootstrap_Customwidgets>
    		<version>0.1.0</version>
    	</Bootstrap_Customwidgets>
  	</modules>
  	<global>
    	<helpers>
      		<customwidgets>
        		<class>Bootstrap_Customwidgets_Helper</class>
      		</customwidgets>
    	</helpers>
		<blocks>
	  		<customwidgets>
				<class>Bootstrap_Customwidgets_Block</class>
	  		</customwidgets>
		</blocks>
	</global>
</config> 
