<?xml version="1.0"?>
<config>

    <modules>
        <AW_Deliverydate>
            <version>1.3.2</version><platform>ce</platform>
        </AW_Deliverydate>
    </modules>
    <frontend>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <deliverydate_attach>
                        <type>singleton</type>
                        <class>deliverydate/observer</class>
                        <method>saveDeliveryData</method>
                    </deliverydate_attach>
                </observers>
            </checkout_type_onepage_save_order_after>
			
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <deliverydate_catch>
                        <type>singleton</type>
                        <class>deliverydate/observer</class>
                        <method>catchDeliveryData</method>
                    </deliverydate_catch>
                </observers>
            </checkout_controller_onepage_save_shipping_method>

        </events>
        <layout>
            <updates>
                <deliverydate module="AW_Deliverydate">
                    <file>aw_deliverydate.xml</file>
                </deliverydate>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Deliverydate>
                    <files>
                        <default>AW_Deliverydate.csv</default>
                    </files>
                </AW_Deliverydate>
            </modules>
        </translate>
    </frontend>
    <admin>

    </admin>
    <adminhtml>
    
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <deliverydate>
                                            <title>aheadWorks - Delivery Date and Notice</title>
                                        </deliverydate>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <deliverydate>
                    <file>aw_deliverydate.xml</file>
                </deliverydate>
            </updates>
        </layout>
        <translate>
            <modules>
                <AW_Deliverydate>
                    <files>
                        <default>AW_Deliverydate.csv</default>
                    </files>
                </AW_Deliverydate>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models> 
            <sales>
                <rewrite>
                    <!--
                    <order_pdf_invoice>AW_Deliverydate_Model_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_shipment>AW_Deliverydate_Model_Order_Pdf_Shipment</order_pdf_shipment>
                    <order_pdf_creditmemo>AW_Deliverydate_Model_Order_Pdf_Creditmemo</order_pdf_creditmemo>
                    -->
                </rewrite>	
            </sales>
            <deliverydate>
                <class>AW_Deliverydate_Model</class>
                <resourceModel>deliverydate_mysql4</resourceModel>
            </deliverydate>
            <deliverydate_mysql4>
                <class>AW_Deliverydate_Model_Mysql4</class>
                <entities>
                    <holiday>
                        <table>aw_deliverydate_holiday</table>
                    </holiday>
                </entities>
                <entities>
                    <delivery>
                        <table>aw_deliverydate_delivery</table>
                    </delivery>
                </entities>
            </deliverydate_mysql4>
        </models>
        <resources>
            <deliverydate_setup>
                <setup>
                    <module>AW_Deliverydate</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deliverydate_setup>
            <deliverydate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deliverydate_write>
            <deliverydate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deliverydate_read>
        </resources>
        <blocks>
            <deliverydate>
                <class>AW_Deliverydate_Block</class>
            </deliverydate>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>AW_Deliverydate_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>	
            </adminhtml>	
        </blocks>
        <helpers>
            <deliverydate>
                <class>AW_Deliverydate_Helper</class>
            </deliverydate>
        </helpers>

        <events>
            <sales_order_load_after>
                <observers>
                    <deliverydate_order_load>
                        <type>singleton</type>
                        <class>deliverydate/observer</class>
                        <method>attachDeliveryData</method>
                    </deliverydate_order_load>
                </observers>
            </sales_order_load_after>
        </events>
    </global>
	
    <default>
        <deliverydate>
            <general>
                <time_notice_enabled>1</time_notice_enabled>
                <notice_enabled>1</notice_enabled>
                <min_delivery_interval>0</min_delivery_interval>
                <max_sameday_time>18,00,00</max_sameday_time>
            </general>	
        </deliverydate>
    </default>
</config>
