<?xml version="1.0"?>

<config>
    <sections>
        <deliverydate translate="label" module="deliverydate">
            <label>Delivery Date</label>
            <tab>awall</tab>
            <frontend_type>text</frontend_type>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <notice_enabled translate="label">
                            <label>Display delivery notice</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </notice_enabled>
                        <min_delivery_interval>
                            <label>Minimal interval between the order and delivery date, days</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </min_delivery_interval>
                        <max_sameday_time>
                            <label>Same-day delivery is unavailable after</label>
                            <frontend_type>time</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </max_sameday_time>		
                        <time_notice_enabled>
                            <label>Display same-day delivery notice</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>350</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <comment></comment>
                        </time_notice_enabled>	
                        <smax_sameday_time>
                            <label>Delivery is NOT available during these days and periods</label>
                            <frontend_model>deliverydate/adminhtml_form_renderer_config_daysselector</frontend_model>
                            <backend_model>deliverydate/system_config_backend_daysselector</backend_model>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </smax_sameday_time>		
                    </fields>
                </general>
            </groups>
        </deliverydate>
    </sections>
</config>			