<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<config>
    <modules>
        <AS_Wholesaler>
            <version>0.1.1</version>
        </AS_Wholesaler>
    </modules>
    <global>
        <models>
            <wholesaler>
                <class>AS_Wholesaler_Model</class>
                <resourceModel>wholesaler_resource</resourceModel>
            </wholesaler>
            <wholesaler_resource>
                <class>AS_Wholesaler_Model_Mysql4</class>
                <entities>
                    <wholesaler>
                        <table>as_wholesaler</table>
                    </wholesaler>
                    <corporate>
                        <table>as_corporate</table>
                    </corporate>
                </entities>
            </wholesaler_resource>
        </models>
        <blocks>
            <wholesaler>
                <class>AS_Wholesaler_Block</class>
            </wholesaler>
        </blocks>
        <helpers>
            <wholesaler>
                <class>AS_Wholesaler_Helper</class>
            </wholesaler>
        </helpers>
        <resources>
            <wholesaler_setup>
                <setup>
                    <class>AS_Wholesaler_Model_Mysql4_Setup</class>
                    <module>AS_Wholesaler</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wholesaler_setup>
            <wholesaler_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wholesaler_read>
            <wholesaler_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wholesaler_write>
        </resources>
    </global>
    <frontend>
        <routers>
            <wholesaler>
                <use>standard</use>
                <args>
                    <module>AS_Wholesaler</module>
                    <frontName>wholesaler</frontName>
                </args>
            </wholesaler>
        </routers>
        <translate>
            <modules>
                <AS_Wholesaler>
                    <files>
                        <default>AS_Wholesaler.csv</default>
                    </files>
                </AS_Wholesaler>
            </modules>
        </translate>
        <layout>
            <updates>
                <wholesaler  module="AS_Wholesaler">
                    <file>wholesaler.xml</file>
                </wholesaler>
            </updates>
        </layout>
        <events>
         <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <weee>
                        <class>wholesaler/observer</class>
                        <method>validateAmountForWholesellerCustomer</method>
                    </weee>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
        </events>
    </frontend>
    <admin>
        <routers>
            <wholesaler>
                <use>admin</use>
                <args>
                    <module>AS_Wholesaler</module>
                    <frontName>wholesaler</frontName>
                </args>
            </wholesaler>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <wholesaler  module="AS_Wholesaler">
                    <file>wholesaler.xml</file>
                </wholesaler>
            </updates>
        </layout>
        <translate>
            <modules>
                <AS_Wholesaler>
                    <files>
                        <default>AS_Wholesaler.csv</default>
                    </files>
                </AS_Wholesaler>
            </modules>
        </translate>
    </adminhtml>
</config>
